{% extends 'calendar/base.html.twig' %}

{% block stylesheets %}

    {% include 'calendar/index/css.html.twig' %}

{% endblock %}

{% block body %}

    <div class="row">

        <div class="col-sm-1"></div>

        <div class="col-12 col-sm-10">
            <div class="bubble">
                {% include 'calendar/index/list-date.html.twig' with { 'line': 1 } %}
                {% include 'calendar/index/list-date.html.twig' with { 'line': 2 } %}
            </div>

            <div class="bubble">
                {% include 'calendar/index/list-date.html.twig' with { 'line': 1 } %}
                {% include 'calendar/index/list-date.html.twig' with { 'line': 2 } %}
            </div>
        </div>

        <div class="col-sm-1"></div>

    </div>

{% endblock %}

{% block javascripts %}

    {% include 'calendar/index/script.html.twig' %}

{% endblock %}