{% extends 'tchooz/base.html.twig' %}

{% block stylesheets %}

    {% include 'tchooz/form/css.html.twig' %}

{% endblock %}

{% block body %}

    <div class="row">

        <div class="col"></div>

        <div class="col-8 text-center">

            <h3>Créer un tirage</h3>

            <form method="post" action="{{ path('tchooz-tirage-store') }}">
                <input type="text" class="form-control input-name" placeholder="Nom du tirage" required>
                <input type="email" class="form-control input-email" placeholder="Ton adresse mail" required>
                <button type="submit" class="btn btn-primary button-submit">
                    <span>Valider</span>
                </button>
            </form>
        </div>

        <div class="col"></div>
    </div>

{% endblock %}

{% block javascripts %}

    {% include 'tchooz/form/script.html.twig' %}

{% endblock %}