{% extends 'tchooz/base.html.twig' %}

{% block stylesheets %}

    {% include 'tchooz/show/css.html.twig' %}

{% endblock %}

{% block body %}

    <div class="row">

        <div class="col"></div>

        <div class="col-10 text-center">

            <section class="my-code">
                {% include 'tchooz/show/my-code.html.twig' %}
            </section>

            <section class="participants">
                {% include 'tchooz/show/participants-fill.html.twig' with {
                    'tirage': tirage, 'participants': participants, 'is_creator_url': is_creator_url
                } %}
            </section>

            <section class="wishlist">
                {#{% include 'tchooz/show/wishlist.html.twig' with {
                    'tirage': tirage, 'participant': participant, 'is_creator_url': is_creator_url
                } %}#}
            </section>
        </div>

        <div class="col"></div>

    </div>

{% endblock %}

{% block javascripts %}

    {% include 'tchooz/show/script.html.twig' %}

{% endblock %}