{% if p is defined %}

    <form method="post" action="{{ path('tchooz-participant-put', {'uniqueId': tirage.unique_id }) }}" class="form row">

        <input type="text" class="form-control input-name col-3" placeholder="Nom du participant" value="{{ p.pseudo }}" required>
        <input type="text" class="form-control input-code col-3" placeholder="Code du participant" value="{{ p.uniqueId }}" required>
        <button type="submit" class="btn btn-primary button-submit col-3">
            <span>Valider</span>
        </button>
        <button type="button" class="btn btn-danger col-3">
            <span>Supprimer</span>
        </button>
    </form>

{% else %}

    <form method="post" action="{{ path('tchooz-participant-put', {'uniqueId': tirage.unique_id }) }}" class="form row">

        <input type="text" class="form-control input-name col-3" placeholder="Nom du participant" required>
        <input type="text" class="form-control input-code col-3" placeholder="Code du participant" required>
        <button type="submit" class="btn btn-primary button-submit col-3">
            <span>Valider</span>
        </button>
        <button type="button" class="btn btn-danger col-3">
            <span>Supprimer</span>
        </button>
    </form>

{% endif %}